<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1>contoh jquery</h1>
    <p>
        <input type="text" size="5" name="a"> +
        <input type="text" size="5" name="b"> =
        <span id="result">?</span>
    </p><a href="#" id="calculate">calculate server side</a>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('a#calculate').bind('click', function(){
                $.getJSON($SCRIPT_ROOT + '/add_number',{
                    a: $('input[name="a"]').val(),
                    b: $('input[name="b"]').val()
                }, function(data){
                    $("#result").text(data.result);
                });
                return false;
            })
        });
    </script>
</body>
</html>